body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../assets/img/background.png);
    background-position: right;
    background-size: cover;
    color: white;
    font-family: "Poppins", sans-serif;
}

.hidden {
    display: none;
}

/****************/
/***  HEADER  ***/
/****************/

header {
    background-color: rgba(47, 54, 64, .9);
    margin-bottom: 1rem;
}

/* BANNER */

#banner {
    display: flex;
    justify-content: space-between;
    align-content: center; 
    padding: 1rem;
}

#logo {
    width: fit-content;
    display: flex;
    align-items: center;
}

#logo-illustration {
    width: 55px;
    height: 70px;
    margin-right: .75rem;
    border-radius: 45%;
    border: 2px solid goldenrod;
}

#title {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

#big-title {
    width: fit-content;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 0;
}

#subtitle {
    width: fit-content;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0;
}

/* NAVBAR */

#burger-button {
    font-size: 3rem;
    font-weight: 800;
    align-self: center;
}

#navbar {
    background-color: rgba(47, 54, 64, .9);
    align-content: center;
}

#navlinks {
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.navlink a {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.navlink a:hover {
    color: goldenrod;
    font-weight: 700;
    transition: .8s;
}

/****************/
/***   MAIN   ***/
/****************/

main {
    height : 100%;
    overflow-y: scroll;
    align-content: center;
    margin-bottom: 1rem;
}

section {
    margin: 1rem 0;
}

h2 {
    width: fit-content;
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 1rem;
    border-bottom: 3px solid goldenrod;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

#hardskills h3 {
    border-bottom: 2px solid goldenrod;
}

#technologie h3 {
    border-bottom: 2px solid goldenrod;
}

#competence ul {
    margin-top: 1.5rem;
}

p {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    margin: 1rem auto;
}

strong {
    color: goldenrod;
    font-weight: 500;
}

span {
    display: inline-block;
    margin-bottom: .5rem;
}

.card {
    background-color: rgba(47, 54, 64, .9);
    margin: 1rem;
    padding: 1rem;
    /* align-content: center; */
}

.card li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/****************/
/**** FOOTER ****/
/****************/

#contact-navbar {
    background-color: rgba(47, 54, 64, .9);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#contact-navlinks {
    padding: .5rem 0;
    text-align: center;
}

.contact-navlink {
    display: inline-block;
    margin: .5rem 1rem;
}

#contact-navbar i {
    font-size: 2.5rem;
    color: white;
}

/************/
/* HOMEPAGE */
/************/

#home-page h2 {
    width: fit-content;
    display: block;
    font-size: 1.5rem;
    margin: 0 auto 1rem auto;
}

#home-page img {
    width: 100%;
    height: 10rem;
    font-size: 1.2rem;
}


/************/
/**** CV ****/
/************/

/* HOME */

#cv-navbar {
    margin-top: 1rem;
}

#cv-navlinks {
    margin-top: 1rem;
}

.cv-navlink {
    margin-bottom: 2.5rem;
}

.cv-navlink a {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 54, 64, 1);
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid goldenrod;
    border-radius: 15px;
}

.cv-navlink a:hover {
    color: goldenrod;
    font-weight: bold;
    transition: .5s;
}

.cv-navlink i {
    color: goldenrod;
    font-size: 2rem;
    margin-right: 1rem;
}

.cv-download-link {
    width: fit-content;
    background-color: rgb(47, 54, 64);
    padding: .75rem 1rem;
    margin: .5rem auto;
    border: 2px solid goldenrod;
    border-radius: 5px;
}

.cv-download-link  a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.cv-download-link  a:hover {
    color: goldenrod;
    font-weight: bold;
    transition: .5s;
}

.cv-download-link  i {
    font-size: 1.5rem;
    margin-right: .5rem;
}

/* FORMATION */

.formation-data, .experience-data {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
    padding: 1rem 0;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
}

.formation-data span {
    align-content: center;
}

.social-link {
    text-align: center;
    padding-top: 1rem;
    border-top: 2px solid goldenrod;
}

.social-link a {
    color: goldenrod;
    text-decoration: none;
    padding-bottom: .1rem;
    border-bottom: 2px solid goldenrod;
}

.technical-data {
    padding-top: 1rem;
}

/*************/
/* PORTFOLIO */
/*************/

.projet h3 {
    border-bottom: 2px solid goldenrod;
    margin-bottom: 1rem;
}

.projet-illustration {
    width: 100%;
    height: 250px;
}

#projet-meteo-illustration {
    width: 65%;
    display: block;
    margin: 0 auto;   
}

/**************/
/* RESPONSIVE */
/**************/

@media screen and (min-width: 900px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    #banner {
        width: fit-content;
    }
    
    #burger-button {
        display: none;
    }
    
    #navbar {
        display: contents;
    }

    #navlinks {
        align-self: center;
        border: 0px solid white;
    }

    .navlink {
        margin: 0 1rem;
    }

    #home-page .card {
        width: 60%;
        margin: 1rem auto;
    }

    #home-page h2 {
        font-size: 2rem;
    }

    .activity span {
        width: 15%;
        font-size: 1.5rem; 
    }

    .activity i {
        font-size: 2rem; 
        margin-right: 1rem;
    }

    #cv-navbar {
        width: 60%;
        margin: 1rem auto;
    }

    .cv-navlink a {
        font-size: 1.5rem;
    }

    .cv-download-link {
        font-size: 1.5rem;
    }

    #competence {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
    }

    #hardskills {
        width: 35%;
        display: block;
        padding: 2rem;
    }

    #hardskills ul {
        height: 85%;
        align-content: center;
    }

    #hardskills li {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    #technologie {
        width: 40%;
        display: block;
        padding: 2rem;
    }

    #technologie li {
        font-size: 1.5rem;
    }

    #formations {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .formation {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.2rem;
        margin-top: 1.5rem;
        padding: 2rem;
        border: 2px solid white;
    }

    #experiences {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .experience {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.2rem;
        margin-top: 1.5rem;
        padding: 2rem;
        border: 2px solid white;
    }

    .experience span {
        font-size: 1.2rem;
    }

    #projets {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .projet {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.2rem;
        margin-top: 1.5rem;
        padding: 2rem;
        border: 2px solid white;
    }

    .projet li {
        font-size: 1.5rem;
    }



    .projet-illustration {
        height: 400px;
    }

    #projet-meteo-illustration {
        margin-bottom: 1rem;
    }

    .social-link {
        width: 100%;
    }
}