body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../assets/img/background.png);
    background-position: right;
    background-size: cover;
    color: white;
    font-family: "Poppins", sans-serif;
}

.hidden {
    display: none;
}

/****************/
/***  HEADER  ***/
/****************/

header {
    padding: 1.5rem;
    background-color: rgba(47, 54, 64, .3);
}

/* BANNER */

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#title {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

#big-title {
    width: fit-content;
    font-weight: 800;
    font-size: 2rem;
}

#subtitle {
    width: fit-content;
    font-weight: 500;
    font-size: 2rem;
}

/* NAVBAR */

#burger-button {
    font-size: 3rem;
    font-weight: 800;
}

#navbar {
    background-color: rgba(47, 54, 64, .3);
    padding: .5rem 0 1.5rem 0;
}

#navlinks {
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
}

.navlink a {
    background-color: rgba(47, 54, 64, .3);
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    padding: .5rem 1rem;
    border: 2px solid white;
    border-radius: 25px;
}

.navlink a:hover {
    transition: .5s;
    font-weight: 700;
    border: 2px solid goldenrod;
}

/****************/
/***  main  ***/
/****************/

main {
    height: 100%;
    background-color: rgba(47, 54, 64, .3);
    align-content: center;
}

#homepage-article {
    height: 90%;
    text-align: center;
    align-content: center;
    padding: 1rem;
}

#logo {
    width: 125px;
    height: 125px;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 3px solid goldenrod;
}

#homepage-article p{
    width: 90%;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 2px;
}

/****************/
/**** FOOTER ****/
/****************/

#contact-navbar {
    background-color: rgba(47, 54, 64, .3);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#contact-navlinks {
    padding: .5rem 0;
    text-align: center;
}

.contact-navlink {
    display: inline-block;
    margin: .5rem 1rem;
}

#contact-navbar i {
    font-size: 2.5rem;
    color: white;
}

/****************/
/****  TEST  ****/
/****************/